body {
  background: khaki;
}

.boards {
  background: khaki;
  max-width: 45%;
  margin: 5px;
  border: 5px;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.statuses {
  font-size: 1.5em;
  /* 40px/16=2.5em */
}

.rules {
  font-size: 2em;
}

span.emphasized {
  font-weight: bold;
  background-color: yellow;
}

canvas {
    position: relative;
}

canvas.dead {
   opacity: 0.5;
}